page-login {
    ion-content{
            background: linear-gradient(#1a6bdd, #beeef5);
    }
    ion-item{
            margin-bottom: 20px !important;
            border-radius: 20px !important;
    }
    button{
            width: 60% !important;
    margin-bottom: 20px !important;
    }
    
}
