page-register {
    ion-content{
            background: linear-gradient(#1a6bdd, #beeef5);
    }
    ion-item{
            margin-bottom: 20px !important;
            border-radius: 20px !important;
    }
}
