<div class="modal" align="center">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Register</h1>
    <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>
   
	Username <input type="text" name="name" placeholder="enter UserName">
	First name <input type="text" name="firstName" placeholder="enter FirstName">
	Lastname <input type="text" name="lastName" placeholder="enter LasName">
	Password <input type="password" name="password" placeholder="Enter Password">
	Confirm password <input type="password" name="password" placeholder="Re-enter Password">
    <a href="http://localhost:8100/index.html"><input type="button" value="Register"></a>
 
  </ion-content>
</div>